@charset "utf-8";

button {
    border: 0 none;
    outline: 0 none !important;
}

h2,
h3 {
    margin-bottom: 20px !important;
}

html {
    -webkit-font-smoothing: antialiased;
    line-height: 30px;
}

body {
    background-color: rgba(238, 238, 238, 0.27) !important;
}

img {
    max-width: 100%;
}

.cursor-pointer,
button,
a:hover {
    cursor: pointer !important;
}

a:hover {
    text-decoration: none !important;
}

nav {
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 6px #dddddd;
}

li {
    list-style-type: none;
}

.outline-hide {
    outline: hidden
}

/*宽高*/
.wid-25 {
    width: 25% !important;
}

.wid-16 {
    width: 16% !important;
}

.wid-30 {
    width: 30% !important;
}

.wid-sm {
    width: 10% !important;
}

.wid-md {
    width: 60% !important;
}

.wid-70 {
    width: 70% !important;
}

.wid-80 {
    width: 80% !important;
}

.mar-auto {
    margin: auto !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.padding-left-ls {
    padding-left: 2%
}

.padding-left-sm {
    padding-left: 5%
}

.padding-bottom-sm {
    padding-bottom: 5%;
}

.margin-left-xs {
    margin-left: 2%
}

.margin-left-sm {
    margin-left: 5%
}

.margin-left-lg {
    margin-left: 20% !important;
}

.padding-right-ls {
    padding-right: 2%
}

.padding-right-sm {
    padding-right: 5%
}

.margin-right-sm {
    margin-right: 5%
}

.margin-right-lg {
    margin-right: 20% !important;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-sm {
    margin-top: 5% !important;
}

.margin-top-xs {
    margin-top: 3% !important;
}

.margin-top-md {
    margin-top: 10% !important;
}

.text-medium {
    font-size: medium;
}

.text-sm {
    font-size: .75rem;
}

.display-inline-block {
    display: inline-block !important;
}

.display-none {
    display: none !important;
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.line-height-sm {
    line-height: 26px !important;
}

.line-height-md {
    line-height: 34px !important;
}

.line-height-lg {
    line-height: 60px !important;
}

.bor-left-bot-blue {
    border-left: 2px solid #acd6ff
}

.bor-bot-blue {
    border-bottom: 2px solid #acd6ff
}

.bor-bot-solid-gray {
    border-bottom: 1px solid #cccccc
}

.bor-bot-gray {
    border-bottom: 1px dashed #cccccc
}

.bor-solid-gray {
    border: 1px solid #cccccc !important;
}

.switch-active {
    border-bottom: 2px solid #acd6ff;
    color: #337AB7
}

.color-blue {
    color: #2894ff
}

.color-red {
    color: red;
}

.color-gray {
    color: #9b9b9b;
}

.fixed-aside {
    width: 40px;
    float: right;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 9999
}

.mobile-block {
    display: none !important;
}

/*移动端*/
@media (max-width: 767px) {
    .fixed-aside {
        right: 0
    }

    .mobile-none {
        display: none !important;
    }

    .mobile-block {
        display: block !important;
    }

    .mobile-full {
        width: 100% !important;
        padding: 0 !important;
    }
}

.margin-rigth-0 {
    margin-right: 0 !important;
}

.dropdown-menu li a {
    height: 35px;
}

/*浮动*/
.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

/*block*/
.inline-block {
    display: inline-block !important;
}

.simditor-body {
    min-height: 600px !important;
}

/* 文章页面 */
/*圆形*/
.circel {
    border-radius: 50% !important;
}

.circel-sm {
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
}

.user-card {
    margin: 30px auto 20px auto;
    padding-left: 20px;
}

/* 文章列表样式*/
.article-card {
    border: 1px solid #eeeeee;
}

/* 文章正文*/
.article-box {
    padding: 5%;
    width: 80%;
    margin: auto;
    box-shadow: 3px 1px 10px #cccccc;
    border-left: none;
}

@media (max-width: 767px) {
    .article-box {
        box-shadow: none;
    }
}

.article-content {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .main-view {
        width: 100%;
    }
}

.article-card:hover {
    transition: box-shadow 0.3s;
    box-shadow: 1px 2px 10px #dddddd;
}

.visit-history {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 16px;
    height: 16px;
}
.visit-0 {
    background-color: #EEEEEE;
}
.visit-5 {
    background-color: #C6E48B;
}
.visit-10 {
    background-color: #7BC96F;
}
.visit-20 {
    background-color: #239A3B;
}
.visit-40 {
    background-color: #196127;
}