<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>zhangh.net</title>
    <meta name="viewport" content="width=device-width">

</head>
<body ng-app="myApp" ng-controller="IndexController">

    <!--顶部导航栏-->
    <div style="height: 60px" ng-include="'nav.html'"></div>

    <!--中间mainview-->
    <div class="main-view container">
        <ui-view name="main" ></ui-view>
    </div>

    <aside style="width: 40px; float: right; position: fixed; bottom: 20px; right: 18px; z-index: 9999">
        <div title="登录" ng-click="login()" class="btn btn-link btn-lg" style="width: 40px; height: 40px;">
            <i style="margin-left: -5px" class="glyphicon glyphicon-user"></i>
        </div>

        <div title="写博客" ui-sref="new-blog()" class="btn btn-link btn-lg" style="width: 40px; height: 40px;">
            <i style="margin-left: -5px" class="glyphicon glyphicon-edit"></i>
        </div>

        <div title="回到顶部" ng-click="scrollTop()" class="btn btn-link btn-lg" style="width: 40px; height: 40px">
            <i style="margin-left: -5px" class="glyphicon glyphicon-chevron-up"></i>
        </div>
    </aside>


    <footer style="height: 100px; margin-top: 50px;">
        <div class="container" style="border-top: 2px solid rgba(204, 204, 204, 0.36); padding-top: 10px">
            <div class="text-left col-lg-4 margin-left-sm">
                <span style="color: #9b9b9b; font-size: .75rem;">
                    Copyright © 2016 - 2017 zhangh.net 保留所有权利。<br>
                    联系邮箱 <a href="mailto:zhanghuan@zhangh.net ">zhanghuan@zhangh.net</a><br>
                    赣ICP备16005964号
                </span>
            </div>
            <div class="text-left col-lg-4">
                <span style="color: #9b9b9b; font-size: .75rem;">
                    友情链接<br>
                    <a href="http://lihang.info" target="_blank">lihang.info</a>
                </span>
            </div>

            <div class="text-left col-lg-2">
                <span style="color: #9b9b9b; font-size: .75rem;">
                    关注开发者<br>
                        <a href="https://github.com/apologize-zhang" target="_blank">
                            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                        </a>

                </span>
            </div>
        </div>

    </footer>

    <!--基础库-->
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../lib/angular-animate/angular-animate.js"></script>
    <script src="../lib/angular-resource/angular-resource.js"></script>
    <script src="../lib/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="../lib/angular-ui-switch/angular-ui-switch.js"></script>
    <script src="../lib/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script src="../lib/angular-file-upload/dist/angular-file-upload.min.js"></script>


    <!--css-->
    <link rel="stylesheet" href="blog-ui.css">

    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../lib/angular/angular-csp.css">
    <link rel="stylesheet" href="../lib/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="../lib/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="../lib/angular-ui-switch/angular-ui-switch.css" />
    <link rel="stylesheet" href="../lib/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.css" />



    <!--自定义的js-->
    <script src="app.js"></script>
    <script src="index.js"></script>
    <script src="home/home.controller.js"></script>
    <script src="home/square.controller.js"></script>
    <script src="nav.controller.js"></script>
    <script src="index.controller.js"></script>
    <script src="nav.js"></script>
    <script src="home/path/list/list.controller.js"></script>
    <script src="home/path/blog/blog.controller.js"></script>
    <script src="home/path/blog/input/blog.create.controller.js"></script>
    <script src="home/path/blog/input/blog.edit.controller.js"></script>
    <script src="home/path/blog/input/edit.directive.js"></script>
    <script src="home/path/user-center/user-center.controller.js"></script>
    <script src="home/path/user-center/info-card.controller.js"></script>
    <script src="home/path/user-center/blog-card.controller.js"></script>
    <script src="home/path/user/login.controller.js"></script>
    <script src="home/path/user/registe.controller.js"></script>

    <!--service-->
    <script src="service/UserService.js"></script>
    <script src="service/ConstantsService.js"></script>
    <script src="service/StorageService.js"></script>
    <script src="service/UploadHelper.js"></script>
    <script src="service/BlogService.js"></script>


    <!--编辑器-->
    <link rel="stylesheet" type="text/css" href="../lib/simditor/styles/simditor.css" />

    <script type="text/javascript" src="../lib/simditor/site/assets/scripts/module.js"></script>
    <script type="text/javascript" src="../lib/simditor/site/assets/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="../lib/simditor/site/assets/scripts/uploader.js"></script>
    <script type="text/javascript" src="../lib/simditor/site/assets/scripts/simditor.js"></script>
    <script type="text/javascript" src="../lib/simditor/site/assets/scripts/simditor-mark.js"></script>

</body>
</html>