<nav class="navbar navbar-default navbar-fixed-top margin-bottom-0" role="navigation" ng-controller="navController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand margin-left-sm" ui-sref="home">首页</a>

            <a class="display-inline-block cursor-pointer margin-left-sm mobile-block">
                <span ui-sref="home({'id': currentUser.id})" class="navbar-brand">{{currentUser.name}}</span>
                <span ui-sref="user-center({'id': currentUser.id})" class="navbar-brand">
                    <i class="fa fa-home"></i>
                </span>
            </a>

        </div>

        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <!--<ul class="nav navbar-nav" ng-repeat="nav in navs">-->

                <!--<li ng-if="nav.isParent == false">-->
                    <!--<a ui-sref="list({'classify': nav.id})">{{nav.name}}</a>-->
                <!--</li>-->

                <!--<li ng-if="nav.isParent == true">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--{{nav.name}} <b class="caret"></b>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li ng-repeat="child in nav.children">-->
                            <!--<a ui-sref="list({'classify': child.id})">{{child.name}}</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->

            <ul class="nav navbar-nav">
                <li>
                    <a href="">发现</a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        实用工具 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="http://www.bejson.com/jsonviewernew/" target="_blank">json格式化</a>
                        </li>
                        <li>
                            <a href="https://translate.google.cn/" target="_blank">google翻译</a>
                        </li>
                        <li>
                            <a href="">小游戏</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <a class="display-inline-block cursor-pointer margin-left-sm mobile-none"
               ui-sref="home({'id': currentUser.id})">
                <span class="navbar-brand">{{currentUser.name}}</span>
            </a>

            <form class="navbar-form navbar-right" role="search">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>

        </div>
    </div>
</nav>